In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
#1. What is the avg price of all cars in the datasets

In [5]:
average = df["Selling_Price"].mean()
print(f" 1. The average price of all the cars in the dataset is $ {average}")

 1. The average price of all the cars in the dataset is $ 4.661295681063123

In [6]:
#2.What is the most common fuel type in th dataset

In [7]:
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [8]:
df["Fuel_Type"].nunique()

3

In [9]:
common_fueltype = df['Fuel_Type'].mode()[0]
print(f"2. The most common fuel type is {common_fueltype}")

2. The most common fuel type is Petrol

In [10]:
#3.What is the shape of the dataset

In [11]:
#shape of datset
print("3. Shape:", df.shape)

3. Shape: (301, 9)

In [12]:
#4.what are the datatyes of the each itmes of teh datset

In [13]:
#Data Types
print("\n. Data types:\n" ,df.dtypes)
df.info()

. Data types:
 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [14]:
#5.HOW MANY CARS HAVE SELLING PRICE GREATER THENA 8.4

In [15]:
df["Selling_Price"].unique()

array([ 3.35,  4.75,  7.25,  2.85,  4.6 ,  9.25,  6.75,  6.5 ,  8.75,
        7.45,  6.85,  7.5 ,  6.1 ,  2.25,  7.75,  3.25,  2.65,  4.9 ,
        4.4 ,  2.5 ,  2.9 ,  3.  ,  4.15,  6.  ,  1.95,  3.1 ,  2.35,
        4.95,  5.5 ,  2.95,  4.65,  0.35,  5.85,  2.55,  1.25,  1.05,
        5.8 , 14.9 , 23.  , 18.  , 16.  ,  2.75,  3.6 ,  4.5 ,  4.1 ,
       19.99,  6.95, 18.75, 23.5 , 33.  , 19.75,  4.35, 14.25,  3.95,
        1.5 ,  5.25, 14.5 , 14.73, 12.5 ,  3.49, 35.  ,  5.9 ,  3.45,
        3.8 , 11.25,  3.51,  4.  , 20.75, 17.  ,  7.05,  9.65,  1.75,
        1.7 ,  1.65,  1.45,  1.35,  1.2 ,  1.15,  1.11,  1.1 ,  1.  ,
        0.95,  0.9 ,  0.75,  0.8 ,  0.78,  0.72,  0.65,  0.6 ,  0.55,
        0.52,  0.51,  0.5 ,  0.48,  0.45,  0.42,  0.4 ,  0.38,  0.31,
        0.3 ,  0.27,  0.25,  0.2 ,  0.18,  0.17,  0.16,  0.15,  0.12,
        0.1 ,  5.75,  5.15,  7.9 ,  4.85, 11.75,  3.15,  6.45,  3.5 ,
        8.25,  5.11,  2.7 ,  6.15, 11.45,  3.9 ,  9.1 ,  4.8 ,  2.  ,
        5.35,  6.25,  5.95,  5.2 ,  3.75, 12.9 ,  5.  ,  5.4 ,  7.2 ,
       10.25,  8.5 ,  8.4 ,  9.15,  6.6 ,  3.65,  8.35,  6.7 ,  5.3 ,
       10.9 ,  8.65,  9.7 ,  2.1 ,  8.99,  7.4 ,  5.65, 10.11,  6.4 ,
        8.55,  9.5 , 11.5 ])

In [16]:
#how many cars have selling price greater than 8.4
x = df[df["Selling_Price"] >= 8.4].groupby("Car_Name").size()

In [17]:
print("\n 6. Cars having selling price greater than 8.4 \n  ", x)

 6. Cars having selling price greater than 8.4
   Car_Name
ciaz              1
city             13
corolla altis     3
creta             3
elantra           2
fortuner         11
innova            6
land cruiser      1
verna             2
vitara brezza     1
dtype: int64

In [18]:
#6.MOST EXPENSIVE CAR IN THE DATASETS

In [19]:
#most expensive car
most_exp_car = df[df['Present_Price'] == df['Present_Price'].max()]
print("\n 6. Car with Highest Present Price:\n", most_exp_car[['Car_Name', 'Present_Price']])

 6. Car with Highest Present Price:
         Car_Name  Present_Price
86  land cruiser           92.6

In [20]:
#7. CHECK FOR THE NULL VALUES IN THE DATSET

In [21]:
#MISSING VALUES
print("\n 7. Missing values:\n", df.isnull().sum())

 7. Missing values:
 Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [22]:
#8.CHECK FOR THE DUPOCATE VALUE IN THE DATSET

In [23]:
#duplicate records
print("\n 8. Duplicate records:", df.duplicated().sum())
print("\n 8. Duplicate records:", df.duplicated())

 8. Duplicate records: 2

 8. Duplicate records: 0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

In [24]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [25]:
print(df[df.duplicated(keep=False)])

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
15    ertiga  2016           7.75          10.79       43000    Diesel
17    ertiga  2016           7.75          10.79       43000    Diesel
51  fortuner  2015          23.00          30.61       40000    Diesel
93  fortuner  2015          23.00          30.61       40000    Diesel

   Seller_Type Transmission  Owner
15      Dealer       Manual      0
17      Dealer       Manual      0
51      Dealer    Automatic      0
93      Dealer    Automatic      0

In [26]:
# 9. AVERAGE KMS DRIVEN

In [27]:
#14. Avg kms driven
print("\n Average Kms Driven:", df['Kms_Driven'].mean())

 Average Kms Driven: 36947.20598006644

In [28]:
# 10. Avg Selling Price by Car Model
print("\n 10. Avg Selling Price by Car:\n", df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending=False))

 10. Avg Selling Price by Car:
 Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero  CBZ Xtreme        0.200000
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

In [29]:
#11. PERCNTAGE OF CARS BY FUEL TYPE

In [30]:
#PERCENTAGE
fuel_precent = df['Fuel_Type'].value_counts(normalize=True) * 100 #total no of elemensts divide
print("\n 25. Percentage of cars by Fuel_Type:\n" ,fuel_precent)

 25. Percentage of cars by Fuel_Type:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

In [31]:
# 12. NUMBER OF CAR MANUFACTURED BEFORE 2010

In [32]:
#Number
before_2010 = df[df['Year'] < 2010].shape[0]
print("\n Cars manufactured before 2010:", before_2010)

 Cars manufactured before 2010: 26

In [33]:
# 2.What are the data types of each column
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [34]:
# 3.Are there any missing values in the 
print("\n7. Missing values:\n", df.isnull())

7. Missing values:
      Car_Name   Year  Selling_Price  Present_Price  Kms_Driven  Fuel_Type  \
0       False  False          False          False       False      False
1       False  False          False          False       False      False
2       False  False          False          False       False      False
3       False  False          False          False       False      False
4       False  False          False          False       False      False
..        ...    ...            ...            ...         ...        ...
296     False  False          False          False       False      False
297     False  False          False          False       False      False
298     False  False          False          False       False      False
299     False  False          False          False       False      False
300     False  False          False          False       False      False

     Seller_Type  Transmission  Owner
0          False         False  False
1          False         False  False
2          False         False  False
3          False         False  False
4          False         False  False
..           ...           ...    ...
296        False         False  False
297        False         False  False
298        False         False  False
299        False         False  False
300        False         False  False

[301 rows x 9 columns]

In [35]:
# 4.Are there any duplicate records
print("\n Duplicate records:", df.duplicated().sum())

 Duplicate records: 2

In [36]:
# 5. What are the unique values in the Fuel_Type, Seller_Type, and Transmission columns
print("Unique values in Fuel_Type column:", df['Fuel_Type'].unique())
print("Unique values in Seller_Type column:", df['Seller_Type'].unique())
print("Unique values in Transmission column:", df['Transmission'].unique())

Unique values in Fuel_Type column: ['Petrol' 'Diesel' 'CNG']
Unique values in Seller_Type column: ['Dealer' 'Individual']
Unique values in Transmission column: ['Manual' 'Automatic']

In [37]:
# 6.What is the average, maximum, and minimum Selling_Price
print("\n Average Selling_Price:", df['Selling_Price'].mean())
df[df['Selling_Price'] >= 5].min()
df[df['Selling_Price'] >= 5].max()

 Average Selling_Price: 4.661295681063123

Car_Name              xcent
Year                   2018
Selling_Price          35.0
Present_Price          92.6
Kms_Driven           135000
Fuel_Type            Petrol
Seller_Type      Individual
Transmission         Manual
Owner                     1
dtype: object

In [38]:
# 7.What is the average Selling_Price by Fuel_Type
Average_value = df.groupby('Fuel_Type')['Selling_Price'].mean()
print(Average_value)

Fuel_Type
CNG        3.100000
Diesel    10.278500
Petrol     3.264184
Name: Selling_Price, dtype: float64

In [39]:
# 8. What is the average Selling_Price by Transmission type
average = df.groupby('Transmission')['Selling_Price'].mean()
print(average)

Transmission
Automatic    9.420000
Manual       3.931992
Name: Selling_Price, dtype: float64

In [40]:
# 9.Which car model appears most frequently

most_frequent_model = df['Car_Name'].mode()[0]
print("Most frequent car model:", most_frequent_model)

Most frequent car model: city

In [41]:
# 10. What is the average Selling_Price for each car model 
average_value = df.groupby('Car_Name')['Selling_Price'].mean()
print(average_value)

Car_Name
800                  0.350000
Activa 3g            0.310000
Activa 4g            0.400000
Bajaj  ct 100        0.180000
Bajaj Avenger 150    0.750000
                       ...
sx4                  3.158333
verna                6.107857
vitara brezza        9.250000
wagon r              2.512500
xcent                4.966667
Name: Selling_Price, Length: 98, dtype: float64

In [42]:
# 11.What is the range of years in the dataset (min and max Year)
min_year = df['Year'].min()
max_year = df['Year'].max()
print("Minimum Year in dataset:", min_year)
print("Maximum Year in dataset:", max_year)

Minimum Year in dataset: 2003
Maximum Year in dataset: 2018

In [43]:
# 12.What is the average Selling_Price grouped by Year
print("\n Avg Selling Price by Year:\n", df.groupby('Year')['Selling_Price'].mean().sort_values(ascending=False))

 Avg Selling Price by Year:
 Year
2018    9.250000
2017    6.209143
2015    5.927049
2010    5.262667
2016    5.213200
2014    4.762105
2012    3.841304
2013    3.540909
2009    2.816667
2005    2.487500
2011    2.375263
2004    1.500000
2006    1.437500
2003    1.300000
2008    1.002857
2007    0.160000
Name: Selling_Price, dtype: float64

In [44]:
# 13. What is the most common number of owners (from the Owner column)
common_owner = df['Owner'].mode()[0]
print(f" The most common number is {common_owner}")

 The most common number is 0

In [45]:
#14. What is the average number of kilometers driven (Kms_Driven)
print("\n Average Kms Driven:",df['Kms_Driven'].mean())

 Average Kms Driven: 36947.20598006644

In [46]:
#15. Which car has the highest Present_Price
most_exp_car = df[df['Present_Price'] == df['Present_Price'].max()]
print("\n Car with Highest Present Price:\n", most_exp_car[['Car_Name', 'Present_Price']])

 Car with Highest Present Price:
         Car_Name  Present_Price
86  land cruiser           92.6

In [47]:
#16. What is the correlation between Selling_Price, Present_Price, and Kms_Driven
print("\n16. Correlation:\n", df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr())

16. Correlation:
                Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

In [48]:
# 17. Which Seller_Type has the highest average Selling_Price
print("\n Highest Avg Selling Price by Seller_Type:\n", df.groupby('Seller_Type')['Selling_Price'].mean().max())

 Highest Avg Selling Price by Seller_Type:
 6.721692307692308

In [49]:
#18 How many cars are there of each Fuel_Type
fuel_counts = df['Fuel_Type'].value_counts()
print("Number of cars for each Fuel_Type:")
print(fuel_counts)

Number of cars for each Fuel_Type:
Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

In [50]:
# 20 .what are the top 5 most expensive cars in the dataset?
print("\n20. Top 5 Most Expensive Cars:\n", df.sort_values(by='Selling_Price', ascending=False))

20. Top 5 Most Expensive Cars:
                Car_Name  Year  Selling_Price  Present_Price  Kms_Driven  \
86         land cruiser  2010          35.00          92.60       78000
64             fortuner  2017          33.00          36.23        6000
63             fortuner  2015          23.50          35.96       47000
82               innova  2017          23.00          25.39       15000
51             fortuner  2015          23.00          30.61       40000
..                  ...   ...            ...            ...         ...
196           Activa 3g  2008           0.17           0.52      500000
197    Honda CB twister  2010           0.16           0.51       33000
198  Bajaj Discover 125  2011           0.15           0.57       35000
199      Honda CB Shine  2007           0.12           0.58       53000
200    Bajaj Pulsar 150  2006           0.10           0.75       92233

    Fuel_Type Seller_Type Transmission  Owner
86     Diesel      Dealer       Manual      0
64     Diesel      Dealer    Automatic      0
63     Diesel      Dealer    Automatic      0
82     Diesel      Dealer    Automatic      0
51     Diesel      Dealer    Automatic      0
..        ...         ...          ...    ...
196    Petrol  Individual    Automatic      0
197    Petrol  Individual       Manual      0
198    Petrol  Individual       Manual      1
199    Petrol  Individual       Manual      0
200    Petrol  Individual       Manual      0

[301 rows x 9 columns]

In [51]:
#29.Are there any cars where Selling_Price is greater than Present_Price?
avg_price_over2_owners = df[df['Owner'] > 2]['Selling_Price'].mean()
print("\n Avg Selling_Price with >2 owners:", avg_price_over2_owners)

 Avg Selling_Price with >2 owners: 2.5

In [52]:
# 28.How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?
unique_combination = df[['Fuel_Type', 'Seller_Type', 'Transmission']].shape[0]
print("\n Unique Fuel_Type, Seller_Type, Transmission combinations:", unique_combination)

 Unique Fuel_Type, Seller_Type, Transmission combinations: 301

In [53]:
#27. How many cars were sold with exactly 0 previous owners?
zero_owner = df[df['Owner'] == 0].shape[0]
print("\n Cars with 0 previous owners:", zero_owner)

 Cars with 0 previous owners: 290

In [54]:
#26. What is thr highest and lowest kms drivem for each uel type
high_low_kms = df.groupby('Fuel_Type')['Kms_Driven'].agg(['min', 'max'])
print("\n26. Kms_Driven stats by Fuel_Type:\n", high_low_kms)

26. Kms_Driven stats by Fuel_Type:
              min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

In [55]:
#25. What percentage of cars are using diesel vs petrol vs CNG

percent_car = df['Fuel_Type'].value_counts(normalize=True) * 100
print("\nPercentage of cars by Fuel_Type:\n", percent_car)

Percentage of cars by Fuel_Type:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

In [57]:
#22.How many cars are being sold by individual sellers vs dealers
sold_no = df['Seller_Type'].value_counts()
print("\nCars sold by Seller_Type:\n", sold_no)

Cars sold by Seller_Type:
 Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

In [58]:
#21. What is the average difference between Present_Price and Selling_Price

average_difference = (df['Present_Price'] - df['Selling_Price']).mean()
print("Average difference between Present_Price and Selling_Price:", average_difference)

Average difference between Present_Price and Selling_Price: 2.967176079734219

In [59]:
#30. Are there any cars where Selling_Price is greater than Present_Price

cars = df[df['Selling_Price'] > df['Present_Price']].shape[0]
print("\n30. Cars with Selling_Price > Present_Price:", cars)

30. Cars with Selling_Price > Present_Price: 0

# SUMMMARY - 
The Car Dataset is a comprehensive collection of data related to the sale cars. This dataset contains various attributes that provide valuable insights into the pricing, fuel efficiency, ownership history, and other significant features of the vehicles